<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Backend I - Productos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav class="navbar">
    <div class="nav-container">
      <h2>Facundo Lodi</h2>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/realtimeproducts">Stock</a></li>
        <li><a href="/cart">Carrito</a></li>
        <li><a href="/profile">Mi perfil</a></li>
      </ul>
    </div>
  </nav>

  <main class="container">
    {{{body}}}
  </main>

  <footer class="footer">
    <p>Entrega N°2 – Facundo Lodi | Backend I</p>
  </footer>

</body>
</html>