<div class="auth-container">
  <h2>Crear Cuenta</h2>

  {{#if error}}
    <div class="auth-error">{{error}}</div>
  {{/if}}

  <form action="/api/sessions/register" method="POST" class="auth-form">
    <label>Nombre</label>
    <input type="text" name="first_name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button type="submit">Registrarse</button>
  </form>

  <div class="auth-switch">
    ¿Ya tenés cuenta? <a href="/login">Iniciar sesión</a>
  </div>
</div>